/* GLOBAL */
.wrapper {
    margin: 0.5rem;
    background-color: #f1f4df;
    color: #192965;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* INFORMATION */
h1 {
    text-align: center;
    color: #fcdc74;
    font-family: Lora;
    background-color: #0060ca;
}


/* SLIDESHOW FOR CRUISER, MOUNTAIN, ROAD*/

#slide {
    width: 100%;
    height: auto;
}

.info-cruiser,
.info-mountain,
.info-road {
    font-size: 40px;
    font-family: Lora;
}