/* Global */
.wrapper {
  margin: 0;
  padding: 0;
  background-color: #f1f4df;
  color: #192965;
  font-family: Lora, Arial, Helvetica, sans-serif;
  /* border: 10px solid #fcdc74; */
}

.conatiner {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Title/Header */

h1 {
  color: #fcdc74;
  background-color: #0060ca;
  font-family: Lora;
  font-size: 100px;
  margin: auto;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  border-bottom: 10px solid #fcdc74;
}

/* Top Container */

.bike-wheels {
  box-shadow: 0 0 10px rgba(35, 36, 41, 0.8);
  border-radius: 10px;
  width: 70%;
  height: 400px;
  margin: 2em;
  overflow: hidden;
}

/* .left-container {
  margin: 2rem;
  box-shadow: 0 0 10px rgba(25, 41, 101, 0.8);
  border-radius: 10px;
  float: left;
} */

.right-container {
  font-family: Lora;
  font-size: 50px;
  margin: 2rem;
  float: right;
  margin-left: 20px;
  /* display: flex;
    flex-grow: 1;
    justify-content: space-between; */
}

h2 {
  font-family: Lora;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  padding: 20px;
  margin: 20px;
}

.info {
  font-family: Lora;
  font-size: 2em;
}

/* Section */
#quiz {
  background-color: #192965;
  color: #fcdc74;
  font-size: 50px;
  font-family: Lora;
  text-align: center;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  justify-content: space-evenly;
}

.button {
  font-family: Lora;
  font-size: 50px;
  margin: auto;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  background-color: #fcdc74;
  color: #0060ca;
  text-transform: uppercase;
}

.buton a:hover {
  cursor: pointer;
}

/* Main 3 BIKE COLUMNS */

/* .main-container {
  padding: 100px;
  margin: 50px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

.title {
  font-weight: 300;
  font-size: 50px;
}

.cruiser,
.mountain,
.road {
  width: 300px;
  height: 230px;
  box-shadow: 0 0 10px rgba(25, 41, 101, 0.8);
  border-radius: 4px;
  position: relative;
  transition: 320ms ease;
}

.cruiser {
  background: url(./bikeImages/CrusierBike.jpg) center;
  background-size: 300px;
}

.mountain {
  background: url(./bikeImages/mountainBike.jpg) center;
  background-size: 390px;
  margin-left: 3em;
}

.road {
  background: url(./bikeImages/roadbike.jpg) center;
  background-size: 390px;
}

.cruiser:hover,
.mountain:hover,
.road:hover {
  transform: scale(1.75);
}

.info a {
  position: sticky;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  line-height: 26px;
  color: #fcdc74;
  cursor: pointer;
  transition: 250ms ease;
  opacity: 0;
  transform: translateX(24px);
}

/* .mountain {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(25, 41, 101, 0.8);
}

.road {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(25, 41, 101, 0.8);
} */

.button_1,
a:hover {
  background: #0060ca;
  color: #fbf301;
  cursor: pointer;
}

/* a:hover {
    color: green;
    text-decoration: underline overline;
} */

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: #fcdc74;
  background-color: #0060ca;
  text-align: center;
}

/* Media Queries */
@media() {}